@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --color-bg: #FFFFFF;
    --color-bg-variant: #E5E5E5;
    --color-primary: #202020;
    --color-primary-variant: #000000;
    --color-accent: #FCA311;
    --color-blue: #0085CF;
    --color-blue-variant: #14213D;
    --border: 2px solid var(--color-accent);
    --border-radius: 15px;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100%;
}

/***************** NAVBAR SECTION ****************/

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    color: #000;
    z-index: 100;
    background-color: var(--color-primary);
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2rem;
    color: #fff;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.navbar a{
    color: var(--color-bg);
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: var(--color-accent);
}

/***************** HERO SECTION ****************/

#hero-container {
    width: 100%;
}
  
#bg {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
   
#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    opacity: 0.8;
}
  
#hero-title {
    font-family: Arial Narrow, sans-serif;
    color: #FFF;
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 2rem;
}
  
.sitetitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#hero-content {
    color: var(--color-bg-variant);
    text-align: center;
}

.hero-button {
    border: var(--border);
    padding: 1rem;
    width: 200px;
    font-size: 1.5rem;
    color: var(--color-accent);
    text-decoration: none;
    border-radius: 50px;
    margin-top: 2rem;
    text-align: center;
}

.hero-button:hover {
    background-color: var(--color-accent);
    color: var(--color-primary-variant);
}

/***************** ABOUT SECTION ****************/

#about {
    width: 100%;
    height: 100vh;
    padding: 78px 0;
    background-color: var(--color-bg-variant);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about img {
    height: auto;
    width: 480px;
}

.about-text {
    width: 500px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: var(--color-primary-variant);
    font-size: 3rem;
    margin-bottom: 20px;
}

.about-text p {
    color: var(--color-primary-variant);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 1rem;
}

.about-button {
    padding: 1rem;
    width: 200px;
    font-size: 1.5rem;
    background-color: var(--color-accent);
    color: var(--color-primary-variant);
    text-decoration: none;
    border-radius: 50px;
    margin-top: 2rem;
    text-align: center;
}

.about-button:hover {
    background-color: transparent;
    border: var(--border);
}

/***************** CONTACT SECTION ****************/

#contact {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--color-primary);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#contact .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section-header {
    text-align: center;
    margin-bottom: 2rem;
}

.section-header h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}
  
.section-header p {
    color: #FFF;
}

#contact .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
}

.contact-info {
    width: 50%;
}
  
.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}
  
.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}
  
.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}
  
.contact-info-content {
    margin-left: 20px;
}
  
.contact-info-content h4 {
    color: var(--color-accent);
    font-size: 1.4em;
    margin-bottom: 5px;
}
  
.contact-info-content p {
    color: #FFF;
    font-size: 1em;
}
  
.contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}
  
.contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}
  
.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
  
.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
  
.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
  
.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
    color: var(--color-accent);
    font-size: 12px;
    transform: translateY(-20px);
}
  
.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: var(--color-accent);
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--color-accent);
    transition: 0.5s;
}
  
.contact-form .input-box input[type="submit"]:hover {
    background: #FFF;
    color: var(--color-primary-variant);
}

/***************** FOOTER ****************/

footer {
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color-bg-variant);
}

footer a {
    text-decoration: none;
    color: var(--color-blue);
}

footer a:hover {
    text-decoration: none;
    color: var(--color-accent);
}

/***************** MEDIA CONTROLS ****************/

@media (max-width: 991px) {

    .sitetitle {
        width: 80%;
    }

    #hero {
        height: 100vh;
    }

    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .row {
      flex-direction: column;
    }
    
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
    
    .contact-form {
      width: 100%;
    }

    #contact {
        height: 100%;
    }

    footer {
        font-size: 1rem;
    }
}

@media (max-width: 768px){

    /***************** NAVBAR ****************/
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: var(--color-primary);
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

    /***************** HERO ****************/

    #hero-title {
        font-size: 2.5rem;
    }

    #hero-content {
        font-size: 1rem;
    }

    #hero {
        height: 100vh;
    }

    .sitetitle {
        width: 90%;
    }

    /***************** ABOUT US ****************/

    #about {
        height: 100%;
    }

    .main {
        flex-direction: column;
    }
    
    #about img {
        margin-bottom: 2rem;
        width: 350px;
    }
    
    .about-text {
        width: 100%;
        text-align: center;
    }

    footer {
        font-size: 0.8rem;
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}